<div class="sms-row <%= message.sender == current_user ? 'sms-me' : 'sms-other' %>">
  <div class="sms-bubble">
    <div class="sms-meta">
      <strong><%= message.sender == current_user ? 'Moi' : message.sender.first_name %></strong>
      <em><%= l(message.created_at, format: :short) %></em>
    </div>
    <div class="sms-content"><%= message.content %></div>
  </div>
</div>
