<div class="sms-row <%= message.sender_id == current_user.id ? 'sms-me' : 'sms-other' %>">
        <div class="sms-bubble">
          <span class="sms-content"><%= message.content %></span>
        </div>
        <div class="sms-meta">
          <%= l(message.created_at, format: :short) %>
        </div>
      </div>
