<div class="sms-row"
     id="message-<%= message.id %>"
     data-controller="message"
     data-message-user-id-value="<%= message.sender_id %>">
        <div class="sms-bubble">
          <span class="sms-content"><%= message.content %></span>
        </div>
        <div class="sms-meta">
          <%= l(message.created_at, format: :short) %>
        </div>
      </div>
