// Define variables for your color scheme
$page-bg: #F1F8E0; // hex figma

$green-light: #ECF8D9;
$pink: #E28D93; // bouton rose et élement principaux
$pink-hover: #E28D50; // hover bouton rose
$gray-txt: #948D8D; // texte gris
$white: #FFFFFF; // blanc pur
$gray-bg: #F8F9FA; // fond gris clairs
$badge-yellow: #FFD600;
$card-shadow: rgba(226, 141, 147, 0.10); // soft pink shadow
$progress-bar: #E28D93; // progress bar

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
