body {
  background: $page-bg;
  font-family: $body-font;
  min-height: 100vh;
}
.dashboard-header {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 16px;
}
.dashboard-header h1 {
  font-family: $headers-font;
  color: $pink;
  font-size: 28px;
  font-weight: 800;
}
.dashboard-welcome {
  font-size: 18px;
  margin-bottom: 10px;
  color: $gray-txt;
}
