.avatar-mobile {
  background: $white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid $white;
  box-shadow: 0 0 6px $card-shadow;
  background: $gray-bg;
  margin-top: 18px !important;
}
