.btn-pink {
  background: $pink;
  color: $white;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(226,141,147,0.13);
  padding: 16px 0;
  width: 100%;
  margin: 12px 0;
  font-size: 18px;
  transition: background 0.2s;
  letter-spacing: 0.5px;
}
.btn-pink:hover, .btn-pink:focus {
  background: $pink-hover;
  color: $white;
}
